<section data-ng-controller="TasksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="task.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == task.createdBy._id || authentication.user._id == task.assignedTo._id">
		<a class="btn btn-primary" href="/#!/tasks/{{task._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="task.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="task.createdBy.displayName"></span>
            Assigned to
            <span data-ng-bind="task.assignedTo.displayName"></span>
		</em>
	</small>
    <p>Description: <span  data-ng-bind="task.description"></span></p>
    <p>Period : <span  data-ng-bind="task.repeat.period"></span></p>
    <p>Checked on : <span  data-ng-bind="task.repeat.checkOn"></span></p>
    <p>Priority : <span  data-ng-bind="task.priority"></span></p>
    <p>Expected Time : Up to <span  data-ng-bind="task.expectedTime"></span> hours.</p>
</section>